$primary-text: #122b2b;
$secondary-text: #0d2159;
$tertiary-text: #007a78;

$primary-bg: #d9ede1;
$secondary-bg: #aecae4;
$tertiary-bg: #385d82;

$red-inactive: hsl(0, 90%, 60%);
$red-active: hsl(0, 90%, 40%);

$green-inactive: hsl(130, 90%, 50%);
$green-active: hsl(130, 90%, 40%);

$box-shadow-inactive: 7px 7px 6px 0px rgba(0, 0, 0, 0.1);
$box-shadow-active: 7px 7px 6px 0px rgba(0, 0, 0, 0.3);

$transition: 0.2s ease-in-out;

$primary-font: "Spectral", Georgia, serif;
$secondary-font: "Rubik", Verdana, sans-serif;
