.recipe-wrapper {
  @include basic-flex();
  & {
    padding: 15px;
    width: 80%;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: $box-shadow-inactive;
    padding: 20px;
    margin: 10px;
  }

  .recipe-title {
    font-size: 1.2em;
    font-family: $secondary-font;
    width: 30%;
    text-transform: capitalize;
  }
  .recipe-thumbnail > img {
    border-radius: 3px;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    box-shadow: $box-shadow-inactive;
  }
  .recipe-btns {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;

    .edit-recipe-btn {
      width: 140px;
      display: flex;
      justify-content: space-evenly;
      @include basic-btn();
    }

    .view-recipe-btn {
      @extend .edit-recipe-btn;
    }
    .delete-recipe-btn {
      @extend .edit-recipe-btn;

      & {
        background-color: $red-inactive;
      }

      &:hover {
        background-color: $red-active;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .recipe-wrapper {
    @include basic-flex();
    flex-direction: column;
    width: 70%;

    .recipe-title {
      font-size: 1em;
    }

    .recipe-btns {
      margin-left: 0px;
      width: fit-content;
    }
  }
}
